.card {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 42vh;
  width: 36.5vw;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
